/* Environmental settings */

body {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Sansita Swashed', cursive;
    font-weight: lighter;
    color: #fff;
    font-size: 50px;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

pre {
    color: white;
}

.signin {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.boxx {
    display: block;
    width: 320px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:#fff;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.boxx1 {
    height: 50px;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:#fff;
    font-size: 14px;
}

.rpi_font {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

button {
    width: 332px;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-weight: lighter;
    color:#fff;
    border: 0px;
    border-radius: 5px;
}

#save {
    width: 332px;
    height: 50px;
    font-size: 16px;
    background: #000;
    font-weight: lighter;
    color:#fff;
    border: 0px;
    border-radius: 5px;
}

h4 {
    color:#fff;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.mege {
    color:#fff;
}

img {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/* background */

.animation-area {
	background: linear-gradient(to left, #2ec4b6, #9eb1e9);
	width: 100%;
	height: 100vh;
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 95%;
	height: 95%;
	overflow: hidden;
}

.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}

.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}

.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}

.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}
