[submodule "Backend/API/libhv"]
	path = Backend/lib/libhv
	url = https://github.com/ithewei/libhv.git
[submodule "Backend/SQLContacts/SQLite"]
	path = Backend/lib/SQLite
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "Backend/lib/VMime"]
	path = Backend/lib/VMime
	url = https://github.com/kisli/vmime.git
	branch = master
